<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="png" href="images/icon/favicon.png" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Login SignUp</title>
    <link rel="stylesheet" type="text/css" href="css/loginStyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- It will redirect to the Home Page after submitting the form -->
    <script>
      $(document).ready(function () {
        $("form").submit(function () {
          alert("Great Job !");
        });
      });
    </script>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="/public/images/icon/logo.png" alt="logo" />
      </div>
      <ul>
        <li><a class="active" href="">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="team.html">Team</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="blog.html">Blogs</a></li>
      </ul>

      <img
        src="images/icon/menu.png"
        class="menu"
        onclick="sideMenu(0)"
        alt="menu"
      />
    </nav>
    <div class="form-box">
      <div class="button-box">
        <div id="btn"></div>
        <button
          type="button"
          class="toggle-btn"
          id="log"
          onclick="login()"
          style="color: #fff"
        >
          Log In
        </button>
        <button type="button" class="toggle-btn" id="reg" onclick="register()">
          Register
        </button>
      </div>

      <!--	<div class="social-icons">
				<img src="images/icon/fb2.png">
				<img src="images/icon/insta2.png">
				<img src="images/icon/tt2.png">
			</div>-->

      <!-- Login Form -->
      <form id="forget" class="input-group" action="forget" method="POST">
        <div class="inp">
          <img src="/public/images/icon/user.png" /><input
            type="text"
            id="email"
            name="email"
            class="input-field"
            placeholder="Username or Phone Number"
            style="width: 88%; border: none"
            required="required"
          />
        </div>
        
        <!-- <input type="checkbox" class="check-box" />Remember Password -->
        <button type="submit" class="submit-btn">Reset Link </button><br>
        <!-- <a href="/forget" style="color:blue">forget Password</a> -->
        <%
        if(typeof message!==  'undefined'){
         %>
         <p style="color:green"><%= message %></p>
         <%
        }
     %>
      </form>
    </div>
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>