<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mail Verify</title>
</head>
<body>
    <h1>Thanks</h1>
    <h3>You have succesfully verify your mail</h3>
    <a href="login">Plaease login</a>
</body>
</html>